Repository NazmusSayad/uni-run: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 5, prettier --write

refactor: streamline README.md and enhance CLI usage documentation
  README.md
Due: prettier --write

docs: expand README.md with detailed features and usage instructions
  README.md
Due: prettier --write

chore: update package.json with author, homepage, bugs, repository, keywords, and license information
  package.json
Due: prettier --write

chore: update package version and refactor app structure
  package.json
  src/__lab__/basic.ts
  src/app/handlers/clean.ts
  src/app/handlers/etc.ts
  src/app/handlers/exec.ts
  src/app/handlers/list.ts
  src/app/index.ts
  src/run.ts
  tsdown.config.ts
Due: eslint --fix --max-warnings 5, prettier --write

refactor: simplify output options in tsdown.config.ts
  tsdown.config.ts
Due: eslint --fix --max-warnings 5

feat: add 'fvm' option to Dart runtime configuration
  package.json
  src/app/runtime/default-runtime.ts
  src/app/user-config.ts
Due: eslint --fix --max-warnings 5, prettier --write

fix: update build script to include json-schema generation and add 'fvm' option to Dart runtime
  package.json
  public/uni-run.schema.json
Due: prettier --write

feat: add workflow for building and deploying JSON schema
  .github/workflows/build-schema.yml
Due: prettier --write

fix: update build script and modify JSON schema output path
  package.json
  public/uni-run.schema.json
  src/json-schema.ts
Due: eslint --fix --max-warnings 5, prettier --write

fix: update build schema workflow to include permissions and token configuration
  .github/workflows/build-schema.yml
Due: prettier --write

fix: update JSON schema URL in README to point to the correct location
  README.md
Due: prettier --write

fix: update version in package.json and enhance runtime support in user-config and default-runtime
  package.json
  src/app/runtime/default-runtime.ts
  src/app/user-config.ts
Due: eslint --fix --max-warnings 5, prettier --write

fix: add allowBuilds configuration for esbuild in pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: update esbuild configuration in pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: add 'node' to the runtime options in user-config and implement node runtime handling in default-runtime
  src/app/runtime/default-runtime.ts
  src/app/user-config.ts
Due: eslint --fix --max-warnings 5

fix: update version to 2.0.4 in package.json
  package.json
Due: prettier --write

fix: update version to 2.0.5 in package.json and modify runtime handling in user-config and default-runtime
  package.json
  src/__lab__/basic.ts
  src/app/runtime/default-runtime.ts
  src/app/user-config.ts
Due: eslint --fix --max-warnings 5, prettier --write

Path conditions:
  eslint --fix --max-warnings 5: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml,css,scss}
